#header {
    width: 100%;
    height: 100vh;  
    background: url("img/photo_2021.jpg") no-repeat;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
nav{
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
}
.text ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}
.text ul{
    display: flex;
}
span{
    margin-bottom: 50px;
    color:tomato;
    margin-left: 84px;
}
pre{
    color:white;
    margin-left: -40px;
}
.n2{
    margin-left: 84px;
    padding: 7px 20px;
    background-color: tomato;
    color: white;
    border-radius: 3px;
}
.n5{
    padding-top: 40px;
    text-align: center;
}

.n8{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.img{
    width: 80%;
}
h3{
    margin-top: -100px;
    color:white;
    margin-left: 110px;
}
.l{
    color:white;
    margin-left: 70px;
}
.t{
    padding-top: 200px;
    margin-left: 350px;
}
.email{
    display: flex;
    padding-top:30px;
    margin-left: 320px;
}
input{
    padding: 7px 70px;
}
.n6{
    background-color: tomato;
    padding:7px 15px;
}
.foto{
    margin-top: 40px;
    background-image: url("img/photo-49.jpg");
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.foto ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
}
.f ul{
    display: flex;
    margin-right: 40px;
}
.f ul i{
    margin-left: 40px;
}
/* h2{
    border-image: url("img/");
} */